<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlixMax - Hem</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>

    </div>
    <h2>Your reviews</h2>
    <div class="indexGrid">
        <div class="movieBox" style="display:flex;align-items:center;justify-content:center;background-color:#888;">
            <div style="width: 50px; border-radius:50%;height:50px;background-color:#666;display:inherit;align-items:center;justify-content:center;">
                <a href="/add"><span class="material-symbols-outlined">add</span></a>
            </div>
        </div>
        <% @movies.each do | movie | %>
        <div class="movieBox" style="background-image: url(<%=movie['poster']%>); 
                                    background-repeat: no-repeat; 
                                    background-size: 100% 100%;">
                <a href="/show/<%=movie['id']%>" id=""><button id="infobutton"></button></a>
                <form action="/delete" method="POST">
                    <button id="deletebutton" type="submit" name="id" value="<%=movie['id']%>"><span class="material-symbols-outlined">close</span></button>
                </form>
        </div>
        <%end%>
    </div>
    <hr>
</body>
</html>


